
<p>
  Solving puzzles is awesome. Creating things is awesome. Solving puzzles <em>while</em> you create things?
</p>

<p>
  That's web development.
</p>

<p>
  I'm a web developer whose passion is understanding the process and internal workings of design. The creation of a complex whole out of atomic parts fascinates me. My interests include linguistics, technology, cognitive psychology, behavioral economics, board games, and graphic design.
</p>

<p>
  I have competitive skills in Ruby, Rails, JavaScript, HTML, and CSS.
</p>