<p>Solving puzzles is awesome. Creating things is awesome. Solving puzzles <em>while</em> you create things? That's web development.</p>

<p>I'm a web developer whose passion is understanding the process and internal workings of design. The generation of a complex whole out of interconnected atomic parts is endlessly fascinating to me. This pattern of emergent complexity ties together my interests in linguistics, psychology, behavioral economics, evolutionary genetics, design, and technology.</p>

<p>I have competitive skills in Ruby, Rails, JavaScript, and CSS.</p>